* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: brown;
    padding: 16px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    color: blue;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: rgb(216, 223, 227);
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.articles article img {
   /* height: 180px;*/
   width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 16px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display:inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}


.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(86, 206, 86, 0.1);
}

#sports .articles article a {
    background-color: chartreuse;
}

#economy {
    background-color: rgb(181, 185, 76);
}

#economy .articles article a {
    background-color: rgb(149, 96, 198);
}

#Entretenimento {
    background-color: rgb(166, 137, 194);
}

#Entretenimento .articles article a {
    background-color: coral;
}

#tecnologia {
    background-color: coral;
}

#tecnologia .articles article a {
    background-color: crimson;
}